<div class="row">
  <div class="col-12 mt-2">
    <h2>User List</h2>

    <div class="col-md-4">
      <input (keyup)="onFilter($event)" type="text" class="form-control mb-4" placeholder="név alapú szűrés">
    </div>


    <div>
      <button [routerLink]="['user/0']" class="btn btn-primary btn-block mb-4">Felhasználó létrehozása</button>



    </div>

    <table class="table table-striped">
      <thead>
        <tr>
          <th class="pointer" (click)="onOrder('id')">#</th>
          <th class="pointer" (click)="onOrder('name')">Name</th>
          <th class="pointer" (click)="onOrder('email')">Email</th>
          <th class="pointer" (click)="onOrder('address')">Address</th>
          <th class="pointer" (click)="onOrder('active')">Active</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users$ | async | filter:keyWord | sort:key">
          <td>{{ user.id }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.address }}</td>
          <td>{{ user.active }}</td>
          <td>
            <div class="btn-group">
              <button [routerLink]="['user/' + user.id]" class="btn btn-info">
                <i class="fa fa-pencil"></i>
              </button>
              <button (click)="onDelete(user)" class="btn btn-danger">
                <i class="fa fa-trash"></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
